<!doctype html>
<html>
<head>
  <title>df</title>
  <link rel="stylesheet" href="stylesheets/style.css">
  <script src="socket.io/socket.io.js"></script>

</head>
<body style="padding:0">
  <section>

    <div>
      <button id="dCircle" class="dropbtn">Circle</button>

      <div class="dropdown">
        <button class="dropbtn">Lines</button>
        <div class="dropdown-content">
          <a id="dLine">Single Line</a>
          <a  id="dMulti">Multi Line</a>
          <a href="#">Link 3</a>
        </div>
      </div>

      <button id="dText" class="dropbtn">Text</button>

      <div class="dropdown">
        <button class="dropbtn">Save</button>
        <div class="dropdown-content">
          <a id="sOline">Save Online</a>
          <a  id="sCom">Save to computer</a>
          <a  id="sVt">Invite to join session</a>
        </div>
      </div>

      <input type="color" value="#005E7A" id="drawing-color" class="cot-btn">

      <div class="dropdown">
        <button class="dropbtn">Brushes</button>
        <div class="dropdown-content">
          <a href="#">Link 3</a>
        </div>
      </div>
      <input type="color" value="#005E7A" id="drawing-background-color" class="cot-btn">
    </div>
    <br/>
    <br/>
    <!-- show any messages that come back with authentication -->
    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>




    <% var jsonC = jsdata %>
    <script>
    var getjsonC;
    //console.log(<%-jsonC%>);
    if(<%-jsonC == ""%>)
    {
      getjsonC ="";
    }
    else {
      getjsonC = <%- JSON.stringify(jsonC) %>;
    }

    console.log(getjsonC);
    </script>
    <canvas id="draw"   keepalive="true" resize></canvas>

  </section>

  <script src="javascripts/draw.js" canvas="draw" type="text/paperscript"></script>
  <script src="student.js"></script>
  <script src="javascripts/socket.js"></script>
  <script type="text/javascript" src="javascripts/paper.js"></script>
</body>
</html>
