
<!doctype html>
<html>
<head>
  <title>ds</title>
  <link rel="stylesheet" href="stylesheets/style.css">
  <script src="socket.io/socket.io.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style="padding:0">

  <section>
    <div id="imageHolder" style="display: none"></div>
    <div class="contInfo">
      <!--<button id="md" value="<?php echo $_SESSION['user_id'] ; ?>"></button>-->
      <button id="md" value="<%= user._id%>" style="display: none"></button>

      <% var jsndata = jsdata %>
      <script>
      var getTest = <%- JSON.stringify(jsndata) %>;
      //var getTest = <%= jsndata  %>;  //var test is now assigned to getTest which will only work on browsers
      //console.log(getTest);  // successfully prints 101 on browser
      //  paper.project.importJSON(getTest);
      </script>



      <button id="dCircle" class="btn btn-success">Circle</button>

      <div class="dropdown">
        <button class="btn btn-success dropdown-toggle"  data-toggle="dropdown">Lines<span class="caret"></span></button>

        <ul class="dropdown-menu">
          <li><a id="dLine" >Single Line</a></li>
          <li>  <a  id="dMulti">Multi Line</a></li>
          <li>  <a href="#">Link 3</a></li>
        </ul>
      </div>

      <button id="dText" class="btn btn-success">Text</button>
      <button id="dErase" class="btn btn-danger">Erase</button>
      <input type="number" value="2" id="numeberWidth" class="cot-btn">


      <input type="color" value="#005E7A" id="drawing-color" class="cot-btn">
      <input type="color" value="#005E7A" id="drawing-background-color" class="cot-btn">
      <button id="dClear" class="btn btn-danger">Clear</button>

      <div class="dropdown">
        <button class="dropbtn">Brushes</button>
        <div class="dropdown-content">
          <a href="#">Link 3</a>
        </div>
      </div>
      <button id="dImage" class="btn btn-success">Image</button>
    </div>

    <canvas id="draw"  keepalive="true" resize="true"></canvas>
    <script>
    canvas="draw";
    </script>
  </section>


  <script src="javascripts/draw.js" canvas="draw" type="text/paperscript"></script>
  <script src="sview.js"></script>
  <script src="javascripts/socket.js"></script>
  <script src="javascripts/paper.js"></script>
</body>
</html>
