<div class="contInfo">
  <button id="dCircle" class="btn btn-success">Circle</button>

  <div class="dropdown">
    <button class="btn btn-success dropdown-toggle"  data-toggle="dropdown">Lines<span class="caret"></span></button>

    <ul class="dropdown-menu">
      <li><a id="dLine" >Single Line</a></li>
      <li>  <a  id="dMulti">Multi Line</a></li>
      <li>  <a href="#">Link 3</a></li>
    </ul>
  </div>

  <button id="dText" class="btn btn-success">Text</button>
  <button id="dErase" class="btn btn-danger">Erase</button>
  <input type="number" value="2" id="numeberWidth" class="cot-btn">
  <input type="color" value="#005E7A" id="drawing-color" class="cot-btn">
  <input type="color" value="#005E7A" id="drawing-background-color" class="cot-btn">

  <div class="dropdown">
    <button class="btn btn-success dropdown-toggle" data-toggle="dropdown">Save<span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a id="sOline">Save Online</a></li>
      <li>  <a  id="sCom">Save to computer</a></li>
      <li>  <a  id="sVt">Invite to join session</a></li>
    </ul>
  </div>


  <button id="dClear" class="btn btn-danger">Clear</button>


  <div class="dropdown">
    <button class="btn btn-success dropdown-toggle" data-toggle="dropdown">Shapes<span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a id="sCircle">Circle</a></li>
    </ul>
  </div>

  <button id="dImage" class="btn btn-success">Image</button>


  <div class="dropdown">
    <button class="dropbtn">Brushes</button>
    <div class="dropdown-content">
      <a href="#">Link 3</a>
    </div>
  </div>
</div>
